<div class="container home-page">
  <div id="overlay"></div>
  <div class="container">
    <div class="row poke-banner">
      <h1 class="text-center home-title">The Original 151 Pokemon</h1>
      <h4 class="text-center home-subtitle">
        <a href="/pokemon">FAVORITES</a>
      </h4>
    </div>
    
    <div class="row text-center">
      <% pokemon.forEach(function(pokemon, index) { %>
        <div class="well col-sm-6 col-md-4">
          <img id="data-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= index + 1 %>.png" alt="pokemon official artwork">
          <h2><%= pokemon.name.toUpperCase() %></h2>
          <p><%= pokemon.order %> </p>
          <p><%= pokemon.id %> </p>
          <form method="POST" action="/pokemon">
            <input hidden type="text" name="name" value="<%= pokemon.name %>">
            <button class="btn btn-primary btn-font-size" type="submit">Add to Favorite Pokemon</button>
          </form>
        </div>
        <% }); %>
    </div>
  </div>
</div>
